h1{
	color: blue;
}
form *{
	display: block;
	margin: 15px;
}
body{
	display: inline-block;
}
ul{
	list-style-type: none;
}
li{
	color: red;
	font-weight: bold;
	size: 3em;
}
.button{
	background-color: red;
}
h2{
	color: green;
	font-weight: bold;
	size: 4em;
}
